/* General Styling */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

/* Header Styling */
header {
  display: flex;
  background-color: #212529;
  padding: 0.7% 0;
  font-size: 1.7rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

header div:nth-of-type(1) {
  padding-left: 15%;
  color: white;
}

header div:nth-of-type(2) {
  padding-left: 65%;
  color: white;
}

/* Main Section Styling */
main section {
  text-align: center;
  padding: 5% 29%;
  font-weight: 300;
  font-size: 1.2rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

main section p:nth-of-type(1) {
  color: grey;
  line-height: 172%;
}

main section p a:nth-of-type(1) {
  display: inline-block;
  padding: 1% 2%;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  padding: 1% 3%;
}

main section p a:nth-of-type(2) {
  display: inline-block;
  padding: 1% 2%;
  background-color: #6c757d;
  color: white;
  text-decoration: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  padding: 1% 3%;
}

/* Cards Page Structure */
.center {
  background-color: #f8f9fa;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5% 15% 3% 15%;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(185, 178, 178);
  border-radius: 0.3rem;
  width: calc(
    33.33% - 20px
  ); 
  background-color: white;
  margin-bottom: 20px; 
  box-shadow: 1px 1px 1px #b0aeae80;
}

.card-top img {
  width: 100%;
  height: auto;
}

.card-bottom {
  width: 100%;
  padding: 3% 15% 3% 5%;
  color: #6c757d;
}

button{
  color: #6c757d;
}
.card-bottom button:nth-of-type(2) {
  margin-left: -2%;
}

small {
  margin-left: 55%;
}

/* Footer Styling */
footer div {
  margin-left: 15%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  color: #6c757d;
  padding: 2rem 0;
  font-size: 1rem;
  font-weight: 400;
}

footer div a {
  grid-column: 2;
  grid-row: 1;
  padding-left: 18%;
  padding-top: 3.5%;
}

footer div p a {
  padding: 0;
}

footer div p:nth-of-type(1) {
  grid-column: 1;
  grid-row: 1;
}

footer div p:nth-of-type(2) {
  grid-row: 2;
  margin-top: -1%;
}

/* Links Styling */
.links {
  text-decoration: none;
  color: #007bff;
}

.links:hover {
  color: #0061ca;
  text-decoration: underline;
}
